<div class="container mb-2">
  <div class="d-flex flex-wrap align-items-center py-2 border-bottom">
    <div class="navbar navbar-expand-md navbar-light me-auto">
      <%= link_to root_path, class: 'navbar-brand me-md-4' do %>
        <span class="fas fa-home" />
      <% end %>
    </div>
    <div class="nav nav-pills">
      <% if user_signed_in? %>
          <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link link-dark'%>
      <% else %>
        <li class="nav-item me-2">
          <%= link_to t('.sign_in'), new_user_session_path, class: "nav-link link-dark #{current_page?(new_user_session_path) ? 'active' : ''}"%>
        </li>
        <li class="nav-item me-2">
          <%= link_to t('.sign_up'), new_user_registration_path, class: "nav-link link-dark #{current_page?(new_user_registration_path) ? 'active' : ''}"%>
        </li>
      <% end %>
    </div>
  </div>
</div>